# Created by venv; see https://docs.python.org/3/library/venv.html

# Ambiente virtual
venv/
.env/
.venv/
pymongo_env/
env_project_mongo/
__pycache__/
*.pyc
ambiente_virtual.txt

# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# arquivos sensíveis
.env
.env